[Unit]
Description=Syslog-ng System Logging Service

[Service]
EnvironmentFile=-/etc/sysconfig/syslog-ng
ExecStartPre=/bin/systemctl stop systemd-kmsg-syslogd.service
ExecStart=/sbin/syslog-ng $SYSLOGNG_OPTIONS
Sockets=syslog.socket
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=syslog.service
